<h3>PrimeNg Table - Server Side Pagination</h3>

<p-table 
    [columns]="cols" 
    [value]="rowData"
    [lazy]="true"
    (onLazyLoad)="loadData($event)"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ 'min-width': '50rem' }"
    [sortField]="sortField" 
    [sortOrder]="sortOrder"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn={{col.field}} [pSortableColumnDisabled]="col.sort == false ? true : false">
                {{ col.header }} 
                <p-sortIcon  *ngIf="col.sort != false" field={{col.field}} />
            </th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="athlete"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
</p-table>