<h3>AG Grid - Client Side Pagination</h3>

<!-- The AG Grid component -->
<ag-grid-angular
    [context]="context"
    class="ag-theme-material"
    style="height: 400px;"
    [rowData]="rowData"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [rowSelection]="rowSelection"
    [suppressRowClickSelection]="true"
    [localeText]="localeText"
></ag-grid-angular>
