<h3>PrimeNg Table - Client Side Pagination</h3>

<p-table 
    [columns]="cols" 
    [value]="rowData" 
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ 'min-width': '50rem' }"
    [sortField]="sortField" 
    [sortOrder]="sortOrder"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn={{col.field}} [pSortableColumnDisabled]="col.sort == false ? true : false">
                {{ col.header }} 
                <p-sortIcon  *ngIf="col.sort != false" field={{col.field}} />
                <p-columnFilter type="text" field={{col.field}} display="menu" />
            </th>
            <th>
                Actions
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <div *ngIf="!col.customRenderer">{{ rowData[col.field] }}</div>
                <div *ngIf="col.customRenderer && col.customRenderer == 'medal'">
                    <app-medal data={{rowData[col.field]}} field={{col.field}}></app-medal>
                </div>
            </td>
            <td>
                <div *ngIf="rowData['gold'] > 2">
                    <app-contract></app-contract>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>